/* Variáveis para cores e fontes */
:root {
    --cor-primaria: #005792;
    --cor-secundaria: #ffffff;
    --cor-fundo: #e7eff6;
    --cor-destaque: #cf9f3e;
    --cor-erro: #ff1e56;
    --cor-sucesso: #28a745; /* Nova cor para mensagens de sucesso */
    --fonte-primaria: 'Segoe UI', sans-serif;
    --fonte-secundaria: 'Georgia', serif;
    --tamanho-fonte-base: 16px;
    --altura-linha: 1.6;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-fonte-base);
    color: var(--cor-primaria);
    background-color: var(--cor-fundo);
    line-height: var(--altura-linha);
    padding: 1rem; /* Aumentar padding para melhorar a responsividade e o espaçamento */
    background-image: url('agback.jpg');
    background-size: cover; /* Cobre todo o fundo */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed; /* A imagem de fundo fica fixa ao rolar */
    background-position: center; /* Centraliza a imagem */
    color: #fff;
}

/* Container principal para centralizar o conteúdo */
.container {
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo e mantém as margens laterais */
    padding: 20px;
    text-align: center; /* Centraliza o texto */
}


header, nav, main, footer {
    background: rgba(0, 0, 0, 0.7); /* Fundo semitransparente para melhorar a legibilidade */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

/* Cabeçalho */
header {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px; 
}

/* Navegação */
nav {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    text-align: center;
}

nav a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

nav a:focus, nav a:hover {
    text-decoration: underline;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
    text-align: center;
    padding: 20px; /* Adicionar padding interno */
    background: rgba(255, 255, 255, 0.1); /* Leve fundo para contraste */
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

img {
    padding: 40px 0;
    max-width: 95%;
    height: auto;
}

p {
    font-size: 1.125rem;
    padding: 0 0 20px 0;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    font-weight: 500;
    font-size: 1rem;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: calc(100% - 40px);
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, textarea:focus {
    outline: 2px solid var(--cor-destaque);
}

button {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover, button:focus {
    background-color: var(--cor-primaria);
    outline: 2px solid var(--cor-destaque);
}

/* Mensagens de erro */
.error-message {
    color: var(--cor-erro);
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Mensagens de sucesso */
.success-message {
    color: var(--cor-sucesso);
    font-size: 1rem;
    margin-top: 10px; /* Espaçamento acima da mensagem de sucesso */
    margin-bottom: 10px;
}

.good-message {
    color: var(--cor-sucesso);
}

.ph-high {
    border: 2px solid var(--cor-sucesso);
}

.ph-low {
    border: 2px solid var(--cor-erro);
}

footer {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
    font-size: 1rem;
    color: white;
    text-align: center;
}
